#Code4SA {
	
	#KnowYourHood {
		max-width: 600px;
		overflow-x: hidden;
		margin: 0px auto;
		#header {
			height: 203px;
			width: 100%;
			background: url("/static/mg-elections_masthead.jpg") left top no-repeat;

		}

		.votegraph {
			height: 10px;
			background-color: #FF0000;
		}

		.votegraph_cell {
			border-top: none;
		}
	}
}