{% extends "base.html" %}
{% block content %}
<div class="header">
    <h3 class="text-muted text-center">
        Voting in your neighbourhood<br/>
        <small>Data from the 2009 General Elections</small>
    </h3>
    <h4 class="text-center text-muted">Address: {{ summary.address }}</div></h4>
</div>

<div class="row marketing">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
        <h4>Summary</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th><th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Registered Voters</td><td>{{ summary.registered_voters }}</td></tr>
                <tr><td>Total Votes</td><td>{{ summary.total_votes }}</td></tr>
                <tr><td>Percentage Turnout</td><td>{{ "%.02f" % summary.voter_turnout_perc }}%</td></tr>
            </tbody>
        </table>

    </div>

    <div class="col-lg-4">
        <h4>Top 5 Parties</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Party</th><th>Votes</th>
                </tr>
            </thead>
            <tbody>
                {% for party, votes in summary.parties.items()[-5:] %}
                <tr>
                    <td>{{ party }}</td>
                    <td>{{ votes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-2"></div>
</div> <!-- row -->
{% include 'search_form.html' %}
</div>
            
{% endblock %}
